<!DOCTYPE html>
<html>
<head>
  <title>RailsDojo</title>
  <%= stylesheet_link_tag 'text', 'reset', '960', :flutie, 'railsdojo' %>
  <%= csrf_meta_tag %>
</head>
<body class='container_12'>
   <div class='masthead grid_12'>
      <h1>Beginning Ruby on Rails</h1>
      <h2>Saturday 18th June</h2>
      <h2>Liverpool St. London</h2>
      <h2>&pound;295 inc. vat</h2>
   </div>
   
   <div class='grid_6 pitch'>
      <%= raw RedCloth.new(File.open(Rails.root + 'app/views/registrations/pitch_copy.txt').read).to_html %>
   </div>
   
   <div class='grid_6'>
      <%= yield %>
      
      <div class='quotes grid_4'>
         <%= redcloth("
bq. Ruby on Rails is a breakthrough in lowering the barriers of entry to programming. Powerful web applications that formerly might have taken weeks or months to develop can be produced in a matter of days.

??Tim O'Reilly, Founder of O'Reilly Media??
         ") %>
         <%= redcloth("
bq. After researching the market, Ruby on Rails stood out as the best choice. We have been very happy with that decision. We will continue building on Rails and consider it a key business advantage.

??Evan Williams, Creator of Blogger, ODEO, and Twitter??         
         ") %>
         <%= redcloth("
bq. Before Ruby on Rails, web programming required a lot of verbiage, steps and time. Now, web designers and software engineers can develop a website much faster and more simply, enabling them to be more productive and effective in their work.

??Bruce Perens, Open Source Luminary??
         ") %>
      </div>
      
      <div class='seals grid_1'>
         <img class="workshop" src="/images/workshop.jpg" />
         <img class="ciw" src="/images/logo_ciw_ci.gif" />
         <img class="rails" src="/images/ruby_on_rails_logo.jpg" />
      </div>
   </div>
   
   <div class='clear'></div>
   
   <div class='footer grid_6'>
      <p>&copy; 2011 Dancing Text Ltd., Company number 07165774</p>
      <p>Unit 36, 88-90 Hatton garden, London, EC1N 8PN, United Kingdom</p>
   </div>
</body>
</html>
